<div class="row justify-content-center">
    <div class="col-lg-4">
        <h2 class="titulo text-light">Resultado</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="fondo-item">
                    <div class="contenedor">
                        <p class="resultado">{{resultado}}</p>
                        <p class="estilo-numero">{{imc}}</p>
                        <p class="interpretacion">{{interpretacion}}</p>
                    </div>
                </div>
            </div>
            <button routerLink="/" class="btn btn-primary btn-lg btn-block mt-3">Recalcular</button>
        </div>
    </div>
</div>